<!DOCTYPE HTML>
<html>
    <head>
        <title>Google Maps Example</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="container">
            <header>
                Google Maps Example
            </header>
            <div class="container">
            <%- body %>
            </div>
        </div>

        <!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/map.js"></script>
        
    </body>
</html>